# Dictionaries

In [ ]:
Dictionaries are used to store data values in key:value pairs
Dictionaries are written with curly brackets, and have keys and values

In [4]:
about = {
  "name": "Nithya",
  "class": "3rd btech",
  "year": 2022
}
print(about)

{'name': 'Nithya', 'class': '3rd btech', 'year': 2022}

In [6]:
print(about["year"])

2022

In [7]:
#finding the length of a string suing len()
print(len(about))

3

In [ ]:
#we can know the type of datatypes used by using type() function

In [8]:
print(type(about))

<class 'dict'>

In [ ]:
#Dictionaries will not contain duplicate key values
#if there is any keyvalue also it will return the last value what we have added into the dictonary

In [11]:
about = {
  "name": "Nithya",
  "class": "3rd btech",
  "year": 2022,
  "year":2021
}
print(about)

{'name': 'Nithya', 'class': '3rd btech', 'year': 2021}

In [17]:
dict = {}
dict['one'] = "This is one"
dict[2] = "This is two"
tinydict = {'name': 'john','code':6734, 'dept': 'sales'}
# Prints value for 'one' key
print (dict['one'])

This is one

In [13]:
# Prints all the values
print (tinydict.values())

dict_values(['john', 6734, 'sales'])

In [14]:
# Prints all the keys
print (tinydict.keys())

dict_keys(['name', 'code', 'dept'])

In [15]:
# Prints complete dictionary
print (tinydict)

{'name': 'john', 'code': 6734, 'dept': 'sales'}

In [23]:
x = about.keys()
print(x)

dict_keys(['name', 'class', 'year'])

# Dictionary methods

In [ ]:
**clear()--Removes all the elements from the dictionary
**get()--Returns the value of the specified key
**pop()--Removes the element with the specified key
**popitem()--Removes the last inserted key-value pair
**update()--Updates the dictionary with the specified key-value pairs
and the remaining are followed

# Accesing items

In [32]:
#one method
about = {
  "name": "Nithya",
  "class": "3rd btech",
  "year": 2022
}
print(about)
x=about["class"]
print(x)

{'name': 'Nithya', 'class': '3rd btech', 'year': 2022}
3rd btech

In [33]:
x = about.get("year")

In [34]:
print(x)

2022

# changing values and updating

In [24]:
about = {
  "name": "Nithya",
  "class": "3rd btech",
  "year": 2022
}
print(about)

{'name': 'Nithya', 'class': '3rd btech', 'year': 2022}

In [28]:
#one method
about["year"] = 2018
print(about)

{'name': 'Nithya', 'class': '3rd btech', 'year': 2018}

In [ ]:
#using update function we will update the dictionary

In [27]:
#two methods
about = {
  "name": "Nithya",
  "class": "3rd btech",
  "year": 2022
}
about.update({"year": 2020})
print(about)

{'name': 'Nithya', 'class': '3rd btech', 'year': 2020}

# Adding into dictionary

In [29]:
about = {
  "name": "Nithya",
  "class": "3rd btech",
  "year": 2022
}
about["branch"] = "ai&ds"
print(about)

{'name': 'Nithya', 'class': '3rd btech', 'year': 2022, 'branch': 'ai&ds'}

# Removing items

In [ ]:
#pop() method removes the item with the specified key name

In [31]:
about = {
  "name": "Nithya",
  "class": "3rd btech",
  "year": 2022,
  "branch":"aids"
}
about.pop("year")
print(about)

{'name': 'Nithya', 'class': '3rd btech', 'branch': 'aids'}

In [35]:
about.popitem()
print(about)

{'name': 'Nithya', 'class': '3rd btech'}

In [36]:
about.clear()
print(about)

{}

# Tuples

In [ ]:
Tuples are used to store multiple items in a single variable
Tuples are ordered

In [37]:
fruits=("apple", "banana", "cherry")
print(fruits)

('apple', 'banana', 'cherry')

In [38]:
#tuples are indexed, they can have items with the same value
fruits = ("apple", "banana", "cherry", "apple", "cherry")
print(fruits)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [ ]:
#length can be found by using len() function

In [39]:
print(len(fruits))

5

In [40]:
#datatype of a tupe
print(type(fruits))

<class 'tuple'>

In [ ]:
#as tuples donot cantain a single value so it returns a string

In [43]:
fruits = ("apple")
print(type(fruits))

<class 'str'>

In [ ]:
#here the variable is continued with comma so it takes it as an tuple

In [42]:
fruits= ("apple",)
print(type(fruits))

<class 'tuple'>

# Tuple methods

In [ ]:
**count()--Returns the number of times a specified value occurs in a tuple
**index()--Searches the tuple for a specified value and returns the position of where it was found
**remove()--removes the values what are not required from tuple
**append()--adding ites into tuple
**delete()--uesd to delete the values
**clear()--clears the tuple

# Accesing the tuples

In [45]:
fruits=("apple", "banana", "cherry")
print(fruits[1])

banana

In [46]:
#returns the last item
print(fruits[-1])

cherry

In [49]:
#range of indexes by specifying where to start and where to end the range.
print(fruits[2:5])

('cherry',)

In [52]:
# By leaving out the start value, the range will start at the first item
print(fruits[:2])

('apple', 'banana')

In [53]:
#By leaving out the end value, the range will go on to the end of the list
print(fruits[:4])

('apple', 'banana', 'cherry')

# updating tuple

In [55]:
fruit = ("apple", "banana", "cherry")
fruits = list(fruit)
fruits[1] = "kiwi"
fruit = tuple(fruits)
print(fruit)

('apple', 'kiwi', 'cherry')

# Adding items into tuple

In [59]:
#using append method we can we can add elements into tuple

# Adding using List

In [63]:
fruit = ("apple", "banana", "cherry")
fruits = list(fruit)
print(fruits)
fruits.append("orange")

['apple', 'banana', 'cherry']

In [62]:
Fruit = tuple(fruits)
print(Fruit)

('apple', 'banana', 'cherry', 'orange')

# Adding tuple to tuple

In [65]:
fruit = ("apple", "banana", "cherry")
fruits = ("orange",)
fruit += fruits
print(fruits)

('orange',)

In [67]:
print(fruit)

('apple', 'banana', 'cherry', 'orange')

# Removing items from tuple

In [ ]:
#using remove function we can remove

In [68]:
fruit = ("apple", "banana", "cherry")
fruits = list(thistuple)
print(fruit)

('apple', 'banana', 'cherry')

In [69]:
fruits.remove("apple")
fruit = tuple(fruits)
print(fruit)

('banana', 'cherry', 'orange')